/* Global */

:root {
    /* Color */

    --color-white: #ffffff;
  
    --color-light-white: #eeeeee;
  
    --color-dark-white: #bdbdbd;
  
    --color-pink: #fe918d;
  
    --color-dark-pink: #ff6863;
  
    --color-dark-grey: #4d4d4d;
  
    --color-grey: #616161;
  
    --color-light-grey: #7c7979;
  
    --color-blue: #73aace;
  
    --color-yellow: #fff7d1;
  
    --color-orange: #feb546;
  
    --color-black: #000000;
  
    /* Font size */
  
    --font-large: 48px;
  
    --font-medium: 28px;
  
    --font-regular: 18px;
  
    --font-small: 16px;
  
    --font-micro: 14px;
  
    /* Font weight */
  
    --weight-bold: 700;
  
    --weight-semi-bold: 600;
  
    --weight-regular: 400;
  
    /* border */

    --size--border--radius:5px;

  }
  



  * {
      box-sizing: border-box;
  }
  
  body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      cursor: default;
  }

  a {
      text-decoration: none;
      color: var(--color-white)
  }

  ul {
      list-style: none;
      padding: 0;
  }
  
  
  /* Typography */
  
  h1 {
  
    font-size: var(--font-large);
  
    font-weight: var(--weight-bold);
  
    color: var(--color-black);
  
    margin: 16px 0px;
  
  }
  
  h2 {
  
    font-size: var(--font-medium);
  
    font-weight: var(--weight-semi-bold);
  
    color: var(--color-black);
  
    margin: 8px 0;
  
  }
  
  h3 {
  
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-black);
  
    margin: 8px 0;
  
  }
  
  p {
  
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-black);
  
    margin: 4px 0;
  
  }

  button  {
      background-color: transparent;
      cursor: pointer;
      border: none;
      outline: none;
    
}


/* Navbar */

#navbar {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* background-color: #000a12; */
    background-color:transparent;
    align-items: center;
    color: var(--color-light-white);
    transition: all 250ms ease-in;

}


#navbar.navbar--dark{
    background:url("imgs/1712023E4E38B58039.jpg") center/cover no-repeat;
    z-index:100;
    opacity:1
}

.navbar__logo{
    font-size: 15px;
    font-weight: var(--weight-semi-bold);
    padding:8px;
}

.navbar__menu {
    font-size: 14px;
    font-weight: var(--weight-semi-bold);
    display: flex;

}


.navbar__menu__item {
    border-radius: var(--size--border--radius);

    padding:8px 4px;
    margin: 0 4px;
    cursor: pointer;
}

.navbar__menu__item.active{

    border: 1px solid var(--color-light-white);
}

.navbar__menu__item:hover{
    background:url("imgs/1712023E4E38B58039.jpg") center/cover no-repeat;

    /* background-color: #313131; */
    transition: all 350ms ease-out;

}

section {

    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin:auto;

}

/* Home */

#home {
    background:url("imgs/1712023E4E38B58039.jpg") center/cover no-repeat;
    padding:40px;
    padding-top: 120px;
    text-align: center;
    max-width: 100vw;

}
/* #home.home--dark{
    opacity:1
} */

.home__title,.home__description{
     color: rgb(218, 218, 218);
   
}

.home__photo{
    width:250px;
    height:250px;
    border-radius:50%
}

.home__contact{
    color:rgb(223, 221, 221);
    font-size:16px;
    font-weight: 600;
    margin: 18px;
    padding: 4px;
    border:2px solid;
    border-radius: 5px;
    border-color: rgb(40, 47, 68);
}



/* About */

.about__majors{
    display: flex;
    height: 100%;
    justify-content: space-between;
    justify-items: center;
    margin:80px 0;
    align-content: flex-start;
    align-items: top;
    padding: 40px;

}



.major__icon{
    width:150px;
    height:150px;
    line-height: 150px;
    font-size:70px;
    color: gray;
    margin: auto;
    border: 1px solid var(--color-light-grey);
    border-radius: 50%;
    margin-bottom: 16px;

}

.about__majors{
/* margin:30px */
padding: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.major{
    margin:80px
}

.major__title, .major__description {

    color: var(--color-dark-grey);
    font-size:20px;
    width:150px;
    margin: auto;
}
.major__description{
    justify-content: center;
    font-size: 16px;

}

.major__icon:hover i{

    color: var(--color-blue);
    transform: rotate(-30deg);

}

.major__icon i{

    transition: all 300ms ease-out ;
}

.job{
    display: flex;
    align-items: center;

}


.job__description{
    text-align: left;
    font-size: 16px;

}
.job__name{
    font-weight: 800;
}
.job__period{
    font-size: 14px;

}





.job__logo{
    width:80px;
    height:80px;
    /* line-height: 150px; */
    margin: 5px;
    padding: 0px;
    border-radius: 0%;


}

.job__logo_{
    width:80px;
    height:80px;
    /* line-height: 150px; */
    margin: 5px;
    padding: 10px;
    border-radius: 0%;


}


/* Skills */
#skills {
    max-width: 100vw;
    margin: 0;
    background-color:rgb(207, 234, 245);
    

    /* display: block; */

}
.skillset__title{
    
    color:white;
    font-weight: 800;
    font-size: 21px;
    margin:0;
}
.skillset {
    max-width: 100%;
    color:white;
    font-size: 15px;
    display:flex;
    background-color: var(--color-light-grey);
    /* margin: 20px 0; */

}

.skillset__left{
flex-basis: 60%;
background-color: var(--color-dark-grey);
padding: 20px 40px;
}


.skillset__right{
    flex-basis: 40%;
    list-style: none;
    }



.tools{
margin-top: 0px;
padding-top: 0px;
background-color: var(--color-grey);

}

.etc__list{

    padding-bottom: 10px;
    
    padding-top: 0px;
}

.etc__list .skillset__title{

    padding-top: 0px;
}


.skill__description{
 
    display: flex;
    justify-content: space-between;
}

.skill__bar{
    width: 100%;
    height: 5px;
    background-color: var(--color-grey);
    margin-bottom: 10px;
}

.skill__value{
    height: 5px;
    background-color: var(--color-orange);
}



/* Work */



.category__btn{

    border:1px solid var(--color-dark-white);
    border-radius: 4px;
    font-size: 15px;
    padding:5px 15px;
    font-weight: 650;
    margin-top: 10px;
    margin-left: 3px;
    padding-left: 30px;

}

#work h3{

    font-size: 18px;
    font-weight: 1000;

}

.category__btn.active,
.category__btn:hover{


    /* background-color: var(--color-light-grey); */
    /* background-color: var(--color-pink); */
    /* background-color: #bbdefb; */
    /* background-color: #546e7a; */
    /* background-color: #29434e; */
    /* background-color: #819ca9; */
    /* background-color: #455a64; */
    background-color: #707070;
    /* background-color: #8eacbb; */
    color: white;
    transition: 350ms ease;

}



.category__btn.active .category__count,
.category__btn:hover .category__count{
    opacity:1;
    top:0px;
}

.category__count {

    background-color: var(--color-orange);
    /* background-color: var(--color-dark-grey); */
    /* background-color: #819ca9; */
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: var(--color-yellow);
    position:relative;
    top:-20px;
    opacity: 0;
    transition: all 350ms ease-in; 
}


.work__projects{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.project{
    position: relative;
    border: 2px solid var(--color-dark-grey);
    width: 280px;
    height: 320px;
    margin:20px;
    /* padding:5px; */

}

.project__img{
    
width: 100%;
height: 100%;
align-self: center;



}

.project__description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: black;
    top: 0;
    opacity: 0.0;
    transition: all 350ms ease-out;
    transform: translateY(10px);
}


.project__description:hover{

    opacity: 0.8;
    transform: translateY(0px);


}


.project__description h3{
color: var(--color-white);

}


.project__description h3:after{
        color: var(--color-white);
        content:'';
        display: block;
        width: 25px;
        /* height: 2px; */
        left:50%
    }
    



#contact{
    max-width: 100%;
    margin: 0;
    color: var(--color-white);
    /* background-color: var(--color-grey); */
    background-color: rgb(82, 74, 90);
    
}

#contact *{
    

    color: white;

}


.contact__links i{

    font-size: 23px;
    margin: 2px;
}


.arrow-up{
    position: fixed;
    bottom: 4px;
    right: 4px;
    font-size: 30px;
    color:var(--color-dark-white);
    pointer-events: none;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 300ms ease-in;
}

.arrow-up.visible{
    opacity: 1;
    pointer-events: auto;
}